<div>
  <h2 class="text-center my-4">Lista de Productos</h2>
  {{#if firstName}}
  <h3>Bienvenido {{firstName}}</h3>
  <a href='/carts/{{cartId}}' class="cartInfo" id="{{cartId}}">Ver carrito</a>
  {{#if userSessionisAdmin}}
    <h5>Admin</h5>
  {{else}}
    <h5>User</h5>
  {{/if}}
  <a href='/auth/logout'>Cerrar Sesion</a>
{{/if}}
    {{#each products}}
      <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{thumbnail}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">Categoria: {{category}}</p>
        <p class="card-text"><small class="text-body-secondary">{{description}}</small></p>
        <p class="card-text">${{price}}</p>
        <p class="card-text"><small class="text-body-secondary">stock: {{stock}}</small></p>
        <p class="card-text">codigo: {{code}}</p>
        <p class="card-text"><small class="text-body-secondary">id: {{_id}}</small></p>
        {{!-- <a href="#" onclick="addCart('{{_id}}')">Agregar🛒</a> --}}
        
        <button type="button" class="btn btn-primary" onclick="addCart('{{_id}}')">Agregar🛒</button>
        <a href='/products/{{_id}}'>Detalle del producto</a>
      </div>
    </div>
  </div>
</div>
    {{/each}}
    {{#if pagination.hasPrevPage}}
    <a style='font-size: 20;' href='/?category={{category}}&limit={{limit}}&page={{pagination.prevPage}}' >⬅{{pagination.prevPage}}</a>
  {{/if}}
  <a style='font-size: 20;' href='#'>{{pagination.page}}</a>
  {{#if pagination.hasNextPage}}
    <a style='font-size: 20;' href='/?category={{category}}&limit={{limit}}&page={{pagination.nextPage}}'>➡{{pagination.nextPage}}</a>
  {{/if}}
  <br />
  <br />
  {{#each links}}
    <a href='{{this.href}}'>{{this.label}}</a>
  {{/each}}
  </br>
  totalDocs:
  {{pagination.totalDocs}}
  limit:
  {{pagination.limit}}
  totalPages:
  {{pagination.totalPages}}
  page:
  {{pagination.page}}
  pagingCounter:
  {{pagination.pagingCounter}}
  hasPrevPage:
  {{pagination.hasPrevPage}}
  hasNextPage:
  {{pagination.hasNextPage}}
  prevPage:
  {{pagination.prevPage}}
  nextPage:
  {{pagination.nextPage}}
  </ul>
</div>

